<launch>
    <arg name="description_name"           default="robot_description"/>
    <arg name="description_file"           default="$(find airosa_description)/urdf/robot.urdf"/>
    <arg name="robot_name" default=""/>

    <param name="$(arg description_name)" textfile="$(arg description_file)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="tf_prefix" value="$(arg robot_name)"/>
        <param name="publish_frequency" value="200"/>
        <remap from="robot_description" to="$(arg description_name)"/>
    </node>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
        <param name="port" value="/dev/LDS"/>
        <param name="frame_id" value="lidar"/>
    </node>

    <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
        <param name="laser_scan_topic" value="/scan"/>        # topic where the lidar scans are being published
        <param name="odom_topic" value="/odom_rf2o" />              # topic where tu publish the odometry estimations
        <param name="publish_tf" value="false" />                   # wheter or not to publish the tf::transform (base-odom)
        <param name="base_frame_id" value="/base_footprint"/>            # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
        <param name="odom_frame_id" value="/odom_rf2o" />                # frame_id (tf) to publish the odometry estimations    
        <param name="init_pose_from_topic" value="" /> # (Odom topic) Leave empty to start at point (0,0)
        <param name="freq" value="10.0"/>                            # Execution frequency.
        <param name="verbose" value="true" />                       # verbose
    </node>

    <node pkg="odometry" type="odometry.py" name="odom_rf2o_to_odom" output="screen">

    </node>

    <!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find airosa_description)/rviz/default_view.rviz" />-->

</launch>

